<%= simple_form_for @sanctioned_post, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.association :division,label_method: :division_name, value_method: :id, include_blank: false%>

  <%= f.input :district_id do %>
      <%= f.grouped_collection_select :district_id, Division.order(:division_name), :districts, :division_name, :id, :district_name, include_blank: true, label: 'District'  %>
  <% end %>

  <%= f.input :block_id do %>
      <%= f.grouped_collection_select :block_id, District.order(:district_name), :blocks, :district_name, :id, :block_name, include_blank: true, label: 'Block' %>
  <% end %>

  <%= f.input :hospital_id do %>
      <%= f.grouped_collection_select :hospital_id, Block.order(:block_name), :hospitals, :block_name, :id, :hospital_name, include_blank: true, label: 'Hospital' %>
  <% end %>

  
  
  <%= f.association :designation,label_method: :Designation_English, value_method: :id, include_blank: false %>
  <%= f.input :sanctioned_posts %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sanctioned_posts_path, :class => 'btn' %>
  </div>
<% end %>
