<%- model_class = RecruitmentMode -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-bordered" id="reqmode">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:recruitment_mode) %></th>
      <th><%= model_class.human_attribute_name(:created_datetime) %></th>
      <th><%= model_class.human_attribute_name(:created_userid) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @recruitment_modes.each do |recruitment_mode| %>
      <tr>
        <td><%= link_to recruitment_mode.id, recruitment_mode_path(recruitment_mode) %></td>
        <td><%= recruitment_mode.recruitment_mode %></td>
        <td><%= recruitment_mode.created_datetime %></td>
        <td><%= recruitment_mode.created_userid %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_recruitment_mode_path(recruitment_mode), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_recruitment_mode_path,
            :class => 'btn' %>

<script>
    $(document).ready(function() {
      $('#reqmode').dataTable( {
        "sPaginationType": "bootstrap"
      } );
    }
  );
</script>
