<%= simple_form_for @hospital, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :hospital_name %>
  <%= f.association :division,label_method: :division_name, value_method: :id, include_blank: false%>
  
  <%= f.input :district_id do %>
      <%= f.grouped_collection_select :district_id, Division.order(:division_name), :districts, :division_name, :id, :district_name, include_blank: true, label: 'District'  %>
  <% end %>

  <%= f.input :block_id do %>
      <%= f.grouped_collection_select :block_id, District.order(:district_name), :blocks, :district_name, :id, :block_name, include_blank: true, label: 'Block' %>
  <% end %>

  <%= f.association :hospital_type,label_method: :hospital_type, value_method: :id, include_blank: false%>
  <%= f.input :beds %>
  <%= f.association :institution_type,label_method: :Institution_type, value_method: :id, include_blank: false%>
  <%= f.input :IsAdministrativeLocation, as: :radio_buttons,label: 'Admin Location ?' %>
  <%= f.input :IsTribal, as: :radio_buttons,label: 'Tribal Location ?' %>
  <%= f.input :latitude %>
  <%= f.input :longitude %> 
  <%= f.input :phone_no %>
  <%= f.input :fax_no %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                hospitals_path, :class => 'btn' %>
  </div>
<% end %>

